extends ../head2

block body
    .robust-content.content.container-fluid
        .content-wrapper
            //.content-header.row
              .content-header-left.col-md-6.col-xs-12
                  h3.content-header-title.mb-0 Добавление нового контрольного вопроса
            .content-body
                section
                    .row
                        .col-md-12
                            .card
                                .card-header
                                    h4.card-title.no-capitalize Добавление нового занятия
                                .card-body.collapse.in
                                    .card-block.card-dashboard
                                        form.form-horisontal#new_lesson(data-backdrop="static")
                                            .form-body
                                                .row
                                                    .col-md-6
                                                        .form-group
                                                            label(for="start") Дата и время начала
                                                            input.form-control#start(name="start")
                                                    .col-md-6
                                                        .form-group
                                                            label(for="end") Дата и время окончания
                                                            input.form-control#end(name="end")
                                                            .help-block
                                                .row
                                                    .col-md-6
                                                        .form-group
                                                            label(for="type") Тип занятия
                                                            select.form-control#type
                                                                option(value='Sem') Семинар
                                                                option(value='Lect') Лекция
                                                                option(value='Lab') Лабораторная
                                                .row
                                                    .col-md-6
                                                        .form-group
                                                            label Выберете группы
                                                            select#terminalSelect.select2.form-control(name="groups" required tabindex="-1" multiple="multiple" )
                                                                option(value="")
                                                                each group in groups
                                                                    option(value="#{group.id}")= group.title
                                                .row
                                                    .col-md-10.col-md-offset-1
                                                        .form-group
                                                            label(for="text") Дополнительное описание
                                                            textarea#description.form-control(rows="3" name="text" placeholder=""  aria-invalid="false")
                                                            .help-block
                                                .form-actions
                                                    button#save.btn.btn-success.mr-1.float-xs-right(type="submit") Сохранить
block append footer
    script(src="/js/pages/lessons/add.js" type="text/javascript")