extends ../head2

block body
    div.robust-content.content.container-fluid
        div.content-wrapper
            div.content-header.row
                div.content-header-left.col-md-6.col-xs-12
                    h3.cantent-header-title.mb-0 Занятия
                div.content-header-lead.col-xs-12.mt-1
            .content-body
                section
                    .row
                        .col-xs-12
                            .card
                                .card-header
                                    h4.card-title Список учебных занятий
                                .card-body.collapse.in
                                    .card-block.card-dashboard
                                        .row
                                            .col-md-8
                                                .form-group
                                                    a.btn.btn-tumblr.btn-mid-width.mr-1.mb-1(role="button" href="/lessons/add")
                                                        i.icon-plus3.mr-1
                                                        | Добавить новое занятие
                                        .row
                                            #lessons_table.col-md-12

block append footer

    script(src="/robust-assets/js/components/modal/components-modal.js" type="text/javascript")

    script(src="/robust-assets/js/plugins/forms/spinner/jquery.bootstrap-touchspin.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/validation/jqBootstrapValidation.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/icheck/icheck.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/toggle/bootstrap-switch.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/toggle/switchery.min.js" type="text/javascript")

    script(src="/robust-assets/js/components/forms/validation/form-validation.js" type="text/javascript")

    script(src="/js/pages/lessons/index.js" type="text/javascript")
    script(src="/js/pages/lessons/table.js" type="text/javascript")
