if (lessons.length === 0)
    p.text-muted.mt-2.text-xs-center Нет записей
else
    table.table.table-striped.table-bordered.zero-configuration
        thead
            tr
                th Дата
                th Тип
                th Группы
        tbody
            each lesson in lessons
                tr(data-id=lesson.id)
                    td= moment(lesson.start).format('DD-MM-YY HH:mm')
                    td= lesson.type
                    td.pt-0
                        each group in lesson.lesson_groups
                            a.mr-1.mt-1.btn.btn-secondary(role="button" aria-disabled="true" href=`/groups/${group.group.id}`)= group.group.title

    include ./../parts/pagination
