extends layout2

block vertical-menu
    nav.header-navbar.navbar.navbar-with-menu.navbar-fixed-top.navbar-semi-dark.navbar-shadow
      .navbar-wrapper
        .navbar-header
          .nav.navbar-nav
            li(class="nav-item mobile-menu hidden-md-up float-xs-left")
              a(class="nav-link nav-menu-main menu-toggle hidden-xs")
                i(class="icon-menu5 font-large-1")

        .navbar-container.content.container-fluid
          #navbar-mobile.collapse.navbar-toggleable-sm
            ul.nav.navbar-nav
              li.nav-item.hidden-sm-down
                a.nav-link.nav-menu-main.menu-toggle.hidden-xs
                  i.icon-menu5
            ul.nav.navbar-nav.float-xs-right
              li.dropdown.dropdown-user.nav-item
                a(href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link")
                  span.avatar.avatar-online
                    img(src="/images/default-user.png" alt="avatar")
                  span.user-name=profile.login
                div.dropdown-menu.dropdown-menu-right.text-xs-center
                  a(href="/logout" class="dropdown-item")
                    i.mr-1(class="icon-power3")
                    | Выход


    div(id="main-menu" data-scroll-to-active="true" class="main-menu menu-dark menu-fixed menu-shadow menu-accordion")
      div.main-menu-content
        ul(id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main")
          li(class=" nav-item")
            a(href="/")
              i(class="icon-home3")
              span(data-i18n="nav.dash.main" class="menu-title") Домашняя страница
          if (profile.role_id === 3)
            li(class=" nav-item")
              a(href="/profile")
                i(class="icon-user")
                span(data-i18n="nav.dash.main" class="menu-title") Профиль
          li(class=" nav-item")
             a(href="/databases")
               i(class="icon-database2")
               span(data-i18n="nav.dash.main" class="menu-title") Базы данных
          li(class=" nav-item")
             a(href="/check_points")
               i(class="icon-clipboard2")
               span(data-i18n="nav.dash.main" class="menu-title") Контрольные мероприятия
          li(class=" nav-item")
             a(href="/questions")
               i(class="icon-clipboard2")
               span(data-i18n="nav.dash.main" class="menu-title") Контрольные вопросы
          li(class=" nav-item")
            a(href="/attendance")
              i(class="icon-user-check")
              span(data-i18n="nav.dash.main" class="menu-title") Посещаемость
          if (profile.permissions.Lesson.read)
            li(class=" nav-item")
               a(href="/lessons")
                 i(class="icon-file-text")
                 span(data-i18n="nav.dash.main" class="menu-title") Занятия
          if (profile.permissions.Group.read)
              li(class=" nav-item")
                 a(href="/groups")
                   i(class="icon-users3")
                   span.float-xs-center(data-i18n="nav.dash.main" class="menu-title") Группы
          if (profile.permissions.Student.read)
              li(class=" nav-item")
                 a(href="/students")
                   i(class="icon-user4")
                   span(data-i18n="nav.dash.main" class="menu-title") Студенты