doctype html
html
    head
        title Web - Converter

        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-touch-fullscreen" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="default")

        link(rel="stylesheet" type="text/css" href="/robust-assets/css/bootstrap.css")

        //highlight
        link(rel="stylesheet" type="text/css" href="/css/vs.css")

        //switchery
        link(href="/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css")
        //x-editable
        link(href="/plugins/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css")

        //BEGIN Font icons
        link(rel="stylesheet" type="text/css" href="/robust-assets/fonts/icomoon.css")
        link(rel="stylesheet" type="text/css" href="/robust-assets/fonts/flag-icon-css/css/flag-icon.min.css")
        link(href="/plugins/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css")


        link(rel="stylesheet" type="text/css" href="/robust-assets/css/plugins/tables/jsgrid/jsgrid-theme.min.css")
        link(rel="stylesheet" type="text/css" href="/robust-assets/css/plugins/tables/jsgrid/jsgrid.min.css")

        link(rel="stylesheet" type="text/css" href="/plugins/jquery-ui.custom/jquery-ui.css")

        link(rel="stylesheet" type="text/css" href="/robust-assets/css/plugins/forms/selects/select2.min.css")
        //BEGIN Plugins CSS
        link(rel="stylesheet" type="text/css" href="/robust-assets/css/plugins/sliders/slick/slick.css")
        link(rel="stylesheet" type="text/css" href="/robust-assets/css/plugins/calendars/fullcalendar.min.css")

        link(rel="stylesheet" type="text/css" href="/robust-assets/css/plugins/forms/icheck/icheck.css")
        link(rel="stylesheet" type="text/css" href="/robust-assets/css/plugins/ui/dragula.min.css")
        link(rel="stylesheet" type="text/css" href="/robust-assets/css/bootstrap-robust.css")
        link(rel="stylesheet" type="text/css" href="/robust-assets/css/components.css")
        link(rel="stylesheet" type="text/css" href="/robust-assets/css/colors.css")
        //BEGIN Custom CSS
        link(rel="stylesheet" type="text/css" href="/assets/css/style.css")
        link(rel="stylesheet" type="text/css" href="/css/custom.css")

    body(data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar")
        //body.page-header-fixed.compact-menu.page-horizontal-bar
        //div#wrapper
        block vertical-menu
        block head
        block body


        //Javascripts
        script(src="/plugins/highlight.js/highlight.pack.js")
        script.
          hljs.initHighlightingOnLoad();

        script( src="/robust-assets/js/core/libraries/jquery.min.js" type="text/javascript")
        script( src="/robust-assets/js/plugins/ui/tether.min.js" type="text/javascript")
        script( src="/robust-assets/js/core/libraries/bootstrap.min.js" type="text/javascript")
        script( src="/robust-assets/js/plugins/ui/perfect-scrollbar.jquery.min.js" type="text/javascript")
        script( src="/robust-assets/js/plugins/ui/unison.min.js" type="text/javascript")
        script( src="/robust-assets/js/plugins/ui/blockUI.min.js" type="text/javascript")
        script( src="/robust-assets/js/plugins/ui/jquery.matchHeight-min.js" type="text/javascript")
        script( src="/robust-assets/js/plugins/ui/jquery-sliding-menu.js" type="text/javascript")
        script( src="/robust-assets/js/plugins/sliders/slick/slick.min.js" type="text/javascript")
        script( src="/robust-assets/js/plugins/ui/screenfull.min.js" type="text/javascript")

        script( src="/robust-assets/js/plugins/forms/toggle/bootstrap-switch.js" type="text/javascript")
        script( src="/robust-assets/js/plugins/forms/toggle/bootstrap-checkbox.min.js" type="text/javascript")
        script( src="/robust-assets/js/plugins/forms/toggle/switchery.min.js" type="text/javascript")

        script(src="/robust-assets/js/plugins/forms/validation/jqBootstrapValidation.js" type="text/javascript")
        script(src="/robust-assets/js/plugins/forms/icheck/icheck.min.js" type="text/javascript")
        script(src="/robust-assets/js/plugins/forms/spinner/jquery.bootstrap-touchspin.js" type="text/javascript")

        script(src="/robust-assets/js/components/forms/validation/form-validation.js" type="text/javascript")

        //script( src="/robust-assets/js/core/libraries/jquery_ui/jquery-ui.min.js" type="text/javascript")
        script( src="/robust-assets/js/plugins/tables/jsgrid/jsgrid.min.js" type="text/javascript")
        script( src="/robust-assets/js/plugins/tables/jsgrid/griddata.js" type="text/javascript")
        script( src="/robust-assets/js/plugins/tables/jsgrid/jquery.validate.min.js" type="text/javascript")

        //script( src="/robust-assets/js/components/tables/jsgrid/jsgrid.js" type="text/javascript")

        script(src="/js/pages/databases/js_grid_date_field.js" type="text/javascript")


        //sortable
        script(src="/plugins/jquery-ui-1.12.1.custom_sortable/jquery-ui.js")

        //dragula
        script( src="/robust-assets/js/plugins/extensions/dragula.min.js" type="text/javascript")

        script(src="/plugins/moment/moment.min.js")
        script(src="/plugins/moment/locale/ru.js")
        script(src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js")

        script( src="/robust-assets/js/plugins/forms/select/select2.full.min.js" type="text/javascript")
        script( src="/robust-assets/js/plugins/extensions/moment.min.js" type="text/javascript")
        script( src="/robust-assets/js/plugins/extensions/fullcalendar.min.js" type="text/javascript")
        //script( src="/robust-assets/js/core/libraries/jquery_ui/jquery-ui.min.js" type="text/javascript")
        script( src="/plugins/jquery-ui.custom/jquery-ui.js" type="text/javascript")
        //script( src="/robust-assets/js/components/extensions/fullcalendar.js" type="text/javascript")

        script( src="/robust-assets/js/core/robust-menu.js" type="text/javascript")
        script( src="/robust-assets/js/core/robust.js" type="text/javascript")
        script( src="/robust-assets/js/components/ui/fullscreenSearch.js" type="text/javascript")

        script(src="/plugins/bootstrap3-editable/js/bootstrap-editable.js")
        script( src="/js/pages/main/calendar.js" type="text/javascript")

        script( src="/plugins/bootbox.min.js" type="text/javascript")
        script( src="/plugins/jquery.scrollto/jquery.scrollTo.js" type="text/javascript")

        script(src="/js/common_scripts.js")
        block footer

