doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html charset=UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui")
        meta(name="description" content="Базы данных теоретические основы")
        meta(name="keywords" content="SQL")
        meta(name="author" content="MEPhI")
        title Базы Данных (Теоретические Основы)
        link(rel="shortcut icon" type="image/x-icon" href="/robust-assets/ico/favicon.ico")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-touch-fullscreen" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="default")

        link(rel="stylesheet" type="text/css" href="/robust-assets/css/bootstrap.css")

        link(rel="stylesheet" type="text/css" href="/robust-assets/fonts/icomoon.css")
        link(rel="stylesheet" type="text/css" href="/robust-assets/fonts/flag-icon-css/css/flag-icon.min.css")


        link(rel="stylesheet" type="text/css" href="/robust-assets/css/plugins/sliders/slick/slick.css")

        link(rel="stylesheet" type="text/css" href="/robust-assets/css/plugins/forms/icheck/icheck.css")
        link(rel="stylesheet" type="text/css" href="/robust-assets/css/plugins/forms/icheck/custom.css")

        link(rel="stylesheet" type="text/css" href="/robust-assets/css/bootstrap-robust.css")
        link(rel="stylesheet" type="text/css" href="/robust-assets/css/components.css")
        link(rel="stylesheet" type="text/css" href="/robust-assets/css/colors.css")

        link(rel="stylesheet" type="text/css" href="/assets/css/style.css")

        link(rel="stylesheet" type="text/css" href="/css/custom.css")


    body(data-open="click" data-menu="vertical-menu" data-col="1-column" class="vertical-layout vertical-menu 1-column bg-full-screen-image blank-page blank-page")


        div.robust-content.content.container-fluid
            div.content-wrapper
                div.content-header.row
                div.content-body
                    section.flexbox-container
                        div.col-md-4.offset-md-4.col-xs-10.offset-xs-1.box-shadow-3.p-0
                            div.card.border-grey.border-lighten-3.px-1.py-1.m-0
                                div.card-header.no-border
                                    h4.card-subtitle.line-on-side.text-muted-dark.text-xs-center.pt-2
                                        span Вход в личный кабинет
                                div.card-body.collapse.in
                                    div.card-block
                                        form#form_login.form-horizontal(novalidate)
                                            fieldset.form-group.has-feedback.has-icon-left
                                                input(type="text" class="form-control" id="username" placeholder="Your Username" required)
                                                div.form-control-position
                                                    i.icon-head
                                            fieldset.form-group.has-feedback.has-icon-left
                                                input(type="password" class="form-control" id="password" placeholder="Enter Password" required)
                                                div.form-control-position
                                                    i.icon-key3

                                            - if (messages.info)
                                                p.alert.alert-info
                                                    = messages.info
                                            - if (messages.error)
                                                p.alert.alert-danger
                                                    = messages.error
                                            button#submit_btn(type="submit" class="btn btn-login btn-block")
                                                i.icon-unlock2 Войти
                                    div.card-footer.pb-0.no-border
                                        p.text-xs-center

                                            a.card-link(href="/recovery") Восстановить пароль
                                            a.card-link(href="/registry") Зарегистрироваться






        //Javascripts
        script(src="/robust-assets/js/core/libraries/jquery.min.js" type="text/javascript")
        script(src="/robust-assets/js/plugins/ui/tether.min.js" type="text/javascript")
        script(src="/robust-assets/js/core/libraries/bootstrap.min.js" type="text/javascript")
        script(src="/robust-assets/js/plugins/ui/perfect-scrollbar.jquery.min.js" type="text/javascript")
        script(src="/robust-assets/js/plugins/ui/unison.min.js" type="text/javascript")
        script(src="/robust-assets/js/plugins/ui/blockUI.min.js" type="text/javascript")
        script(src="/robust-assets/js/plugins/ui/jquery.matchHeight-min.js" type="text/javascript")
        script(src="/robust-assets/js/plugins/ui/jquery-sliding-menu.js" type="text/javascript")
        script(src="/robust-assets/js/plugins/sliders/slick/slick.min.js" type="text/javascript")
        script(src="/robust-assets/js/plugins/ui/screenfull.min.js" type="text/javascript")
        script(src="/robust-assets/js/plugins/forms/validation/jqBootstrapValidation.js" type="text/javascript")
        script(src="/robust-assets/js/plugins/forms/icheck/icheck.min.js" type="text/javascript")
        script(src="/robust-assets/js/core/robust-menu.js" type="text/javascript")
        script(src="/robust-assets/js/core/robust.js" type="text/javascript")
        script(src="/robust-assets/js/components/ui/fullscreenSearch.js" type="text/javascript")
        script(src="/robust-assets/js/components/forms/form-login-register.js" type="text/javascript")
        script(src="/js/pages/login.js" type="text/javascript")
