if (attendance_block.length === 0)
  p.text-muted.mt-2.text-xs-center Нет записей
else
  each attendance in attendance_block
    table.table.table-borderless
      thead
        tr
          each attend in attendance
            th.p-0.text-xs-center= attend.date
      tbody
        tr
          each attend in attendance
            td.p-0
              div(style="margin-left: 3px; height: 7px; background-color: " + attend.visited)

