if (check_points.length === 0)
  p.text-muted.mt-2.text-xs-center Нет записей
else
  table.table.table-borderless.mb-0
    thead
      tr
        th(style="border: none;")= ""
        th.p-0.th-grid.text-xs-center(style="border: none;")
          p.p-0.mb-0 Итог
        each cp in check_points
          th.p-0.th-grid.text-xs-center
            p.font-small-3.p-0.mb-0= cp.title
    tbody.mt-1
      tr
        td.text-xs-center.td-row-header Я
        td(style="padding: 0.75rem 12px 2px 2px !important;")
          div.text-xs-center.grid-div.text-white(
            data-avg=stats.me
            style=`background-color: hsl(114, ${stats.me*100}%, 45%)`
          )
            span=parseFloat(stats.me*100).toFixed(0) + '%'
        each cp in check_points
          td.td-first-grid
            div.text-xs-center.grid-div.with-info.text-white(
              data-isdynamic=cp.is_dynamic.toString()
              data-me=cp.data.me
              data-time=cp.data.time
              data-questions=JSON.stringify(cp.data.questions)
              style=`background-color: hsl(114, ${(cp.data.me / cp.data.max)*100}%, 45%)`
            )
              span= parseFloat((cp.data.me / cp.data.max)*100).toFixed(0) + '%'
      tr
        td.text-xs-center.td-row-header Я и группа
        td.td-total-grid.text-center
          div.text-xs-center.grid-div.text-white(
            data-avg=stats.compare
            style=`background-color: hsl(80, ${stats.compare * 100}%, 40%)`
          )
            span= parseFloat(stats.compare * 100).toFixed(0) + '%'
        each cp in check_points
          td.td-grid
            div.text-xs-center.grid-div.with-info.text-white(
              data-isdynamic=cp.is_dynamic.toString()
              data-group=cp.data.group
              data-me=cp.data.me
              data-time=cp.data.time
              data-questions=JSON.stringify(cp.data.questions)
              style=`background-color: hsl(80, ${(cp.data.group ? cp.data.me / cp.data.group : 0)*100}%, 40%)`
            )
              span= parseFloat((cp.data.group ? cp.data.me / cp.data.group : 0)*100).toFixed(0) + '%'
      tr
        td.text-xs-center.td-row-header Группа
        td.td-total-grid
          div.text-xs-center.grid-div.text-white(
            data-avg=stats.group
            style=`background-color: hsl(205, ${stats.group * 100}%, 50%)`
          )
            span= parseFloat(stats.group * 100).toFixed(0) + '%'
        each cp in check_points
          td.td-grid
            div.text-xs-center.grid-div.with-info.text-white(
              data-isdynamic=cp.is_dynamic.toString()
              data-group=cp.data.group
              data-max=cp.data.max
              data-time=cp.data.time
              data-questions=JSON.stringify(cp.data.questions)
              style=`background-color: hsl(205, ${(cp.data.group / cp.data.max)*100}%, 50%)`
            )
              span= parseFloat((cp.data.group / cp.data.max)*100).toFixed(0) + '%'
  .row.hide
    .col-xs-4
      .card#info-block
        .card-body.px-1
          .row
            .col-xs-12
              a.float-xs-right#close-info
                i.icon-cross2
          .row
            .col-xs-4
              p Задания
            .col-xs-8#task-info
          .row
            .col-xs-4
              p Алгоритм
            .col-xs-8#type-info
              div
                span#type-info
          .row
            .col-xs-4
              p Время
            .col-xs-8#time-info

style.
  #info-block {
    position: absolute;
    min-width: 5rem;
    z-index: 99;
  }

  .grid-div {
    padding-top: 0.3rem;
    min-width: 3rem;
    min-height: 2rem;
    border-radius: 3px;
  }

  .td-row-header {
    max-width: none;
  }

  .td-first-grid {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }

  .td-total-grid {
    padding: 2px 12px 2px 2px !important;
  }
  .td-grid {
    padding: 2px !important;
  }
  .th-grid {
    border: none !important;
    margin-top: -10px !important;
  }
  .info-tip {
    min-width: 100px;
    min-height: 300px;
    border: 1px;
    position: absolute;
    top: 106px;
    background-color: #0A246A;
  }
  .hide {
    display: none;
  }

script(src="/js/pages/students/grid.js" type="text/javascript")
