if (answers.length === 0)
    p.text-muted.mt-2.text-xs-center Нет записей
else
    table.table.table-striped.table-bordered.zero-configuration.mb-0.table-xs
        thead
            tr
                th Вопрос
                th Оценка
                th Дата
                th Управление
        tbody
            each answer in answers
                tr(data-id=answer.id)
                    td
                        a.small-td(href="/questions/" + answer.question.id)= answer.question.title
                    td.text-xs-center.small-td
                        if (answer.mark > 0)
                            .tag.tag-success.small-td
                                i.icon-check.font-medium-2
                        else
                            .tag.tag-danger.small-td
                                i.icon-remove.font-medium-2
                    td= moment(answer.created).format('DD.MM.YYYY')
                    td
                        .btn-toolbar.float-xs-right.small-td(role="toolbar")
                            a.btn.btn-icon.btn-outline-info.btn-sm(style="min-width:3.5rem" href="/questions_answers/" + answer.id data-toggle="tooltip" title="Подробная информация")
                                i.icon-info2
                            if (profile.permissions.QuestionAnswer.delete)
                                button#delete.btn.btn-icon.btn-outline-danger.btn-sm(style="min-width:3.5rem" data-toggle="tooltip" title="Удаление вопроса")
                                    i.icon-trash2


    include ./../parts/pagination

style.
    .small-td {

    }
