extends ../head2

block body
    div.robust-content.content.container-fluid
      div.content-wrapper
        div.content-header.row
          div(class="content-header-left col-md-6 col-xs-12")
            h3(class="content-header-title mb-0") Студент
          div(class="content-header-lead col-xs-12 mt-1")
        .content-body
                .row
                    .col-sm-5
                        .card
                            .card-header
                                .row
                                    .col-md-8
                                        h4.card-title.no-capitalize Информация
                                    //.col-md-4
                                    //    button#edit.btn-in-table.btn.px-1.btn-secondary.float-xs-right(data-edit="disable" title="Редактировать")
                                    //        i.btn-i-hack.icon-edit(style="margin-right:0.5rem")
                                    //        |Редактировать

                                //h4.card-title Информация
                            .card-body.collapse.in
                                .card-block.card-dashboard
                                    .row
                                        .col-xs-4
                                            i.icon-user(style="font-size: 4rem;")
                                        .col-xs-8
                                            .table-responsive
                                                table.table.table-borderless
                                                    tbody
                                                        tr
                                                            td.p-0 ФИО:
                                                            td.p-0
                                                                a.editable.edit_text(href="#" data-name="title")= student.name
                                                        tr
                                                            td.p-0 Группа:
                                                            td.p-0
                                                                a.editable.edit_text(href="#" data-name="department")= student.student.group.title
                                                        tr
                                                            td.p-0 Направление:
                                                            td.p-0
                                                                a.editable.edit_text(href="#" data-name="department")= student.student.group.specialty || '-'
                                    .row
                                        #attendance_table.col-md-12.mt-1
                                    .row
                                        .col-xs-12
                                            #pie-chart
                    .col-sm-7
                        .card
                            .card-header
                                .row
                                    .col-md-8
                                        h4.card-title.no-capitalize Самостоятельная работа
                            .card-body.collapse.in
                                .card-block.card-dashboard.py-0
                                    .row
                                        //#questions_answers_table.col-md-12
                                        #preparing_table.col-md-12.mt-1

                .row
                    .col-lg-12
                        .card
                            .card-header
                                .row
                                    .col-xs-12
                                        h4.card-title.no-capitalize.text-xs-center Результаты контрольных работ

                            .card-body.collapse.in
                                .card-block.card-dashboard.pt-0
                                    .row.mt-1
                                        #check_point_grid.col-xs-12

          .row
              .col-lg-12
                  .card
                      .card-header
                          .row
                              .col-md-4.col-xs-offset-4
                                  h4.card-title.no-capitalize Рейтинг

                      .card-body.collapse.in
                          .card-block.card-dashboard
                              .row.mt-2
                                  #rate_table.col-xs-12

block append footer
    script.
        var user_id = '#{student.id}';
        var student_id = '#{student.student_id}'
        var group_id = '#{student.student.group_id}'

    script(src="/robust-assets/js/components/modal/components-modal.js" type="text/javascript")
    script(src="http://www.google.com/jsapi?key=AIzaSyBk6zFx6lfRp8DRVxVxJ95rCNRaIMs1QKI" type="text/javascript")

    script(src="/robust-assets/js/plugins/forms/spinner/jquery.bootstrap-touchspin.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/validation/jqBootstrapValidation.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/icheck/icheck.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/toggle/bootstrap-switch.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/toggle/switchery.min.js" type="text/javascript")
    script(src="/js/pages/students/chart.js" type="text/javascript")

    script(src="/robust-assets/js/components/forms/validation/form-validation.js" type="text/javascript")

    script(src="/js/pages/students/show.js" type="text/javascript")

    script(src="/js/pages/questions_answers/table.js" type="text/javascript")
