extends ../head2

block body
    div.robust-content.content.container-fluid
      div.content-wrapper
        div.content-header.row
          div(class="content-header-left col-md-6 col-xs-12")
            h3(class="content-header-title mb-0") Календарь контрольных мероприятий
          div(class="content-header-lead col-xs-12 mt-1")

        .content-body
            section
                .row
                    .col-xs-12
                        .card
                            .card-header
                                .div.demo_container
                                    div.test.event-demo(data-color='#6C5B7B') Контрольная работа
                                    div.attestation.event-demo(data-color='#3EACAB') Аттестация разделов
                                    div.exam.event-demo(data-color='#ED5564') Экзамен
                                //h4.card-title Интерактивный календарь контрольных мероприятий
                            .card-body.collapse.in
                                .card-block
                                    //p.card-text
                                        | На данном календаре отмечены сроки сдачи всех контрольных мероприятий созданных преподавателем.
                                        | Также вы можете добавлять свои мероприятия, которые будут доступны только вам.
                                        | Для добавления нового мероприятия перетащите цветной блок из панели слева на необходимую дату в календаре,
                                        | после чего вы можете редактировать описание и временной промежуток, потянув за края блока.
                                    //.row
                                        .col-md-2(style="padding-top:23px")
                                            #external-events
                                                h4(style="text-align:center") Виды мероприятий
                                                .fc-events-container
                                                    .fc-event(data-color='#F6BB42') Реферат
                                                    .fc-event(data-color='#547A8B') Лабораторная работа
                                                    .fc-event(data-color='#6C5B7B') Контрольная работа
                                                    .fc-event(data-color='#3EACAB') Аттестация разделов
                                                    .fc-event(data-color='#355C7D') Зачет
                                                    .fc-event(data-color='#ED5564') Экзамен
                                                    .fc-event(data-color='#2D95BF') Мероприятие
                                                    //.fc-event(data-color='#F8B195') Conference Meeting
                                                    //.fc-event(data-color='#48CFAE') Long Event
                                                    //.fc-event(data-color='#50C1E9') Meeting
                                                    //.fc-event(data-color='#FB6E52') Birthday party
                                    //.row
                                        .col-md-12
                                            #events_types
                                                h4(style="") Виды мероприятий
                                                .div.demo_container
                                                    div.test.event-demo(data-color='#6C5B7B') Контрольная работа
                                                    div.attestation.event-demo(data-color='#3EACAB') Аттестация разделов
                                                    div.exam.event-demo(data-color='#ED5564') Экзамен
                                                    //.fc-event(data-color='#F8B195') Conference Meeting
                                                    //.fc-event(data-color='#48CFAE') Long Event
                                                    //.fc-event(data-color='#50C1E9') Meeting
                                                    //.fc-event(data-color='#FB6E52') Birthday party
                                    .row
                                        .col-md-10.offset-md-1
                                            //div(id='fc-external-drag')
                                            div#check_points_calendar
                                            //(style="height:100vh")
block append footer
    if (check_points)
        script.
            var check_points = !{JSON.stringify(check_points)};
    else
        script.
            var check_points = false;

    if (lessons)
        script.
            var lessons = !{JSON.stringify(lessons)}
    else
        script.
            var lessons = false

    script(src="/js/pages/main.js" type="text/javascript")
