doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html charset=UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui")
    meta(name="description" content="Базы данных теоретические основы")
    meta(name="keywords" content="SQL")
    meta(name="author" content="MEPhI")
    title Базы Данных (Теоретические Основы)
    link(rel="shortcut icon" type="image/x-icon" href="/robust-assets/ico/favicon.ico")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-touch-fullscreen" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="default")

    link(rel="stylesheet" type="text/css" href="/robust-assets/css/bootstrap.css")

    link(rel="stylesheet" type="text/css" href="/robust-assets/fonts/icomoon.css")
    link(rel="stylesheet" type="text/css" href="/robust-assets/fonts/flag-icon-css/css/flag-icon.min.css")


    link(rel="stylesheet" type="text/css" href="/robust-assets/css/plugins/sliders/slick/slick.css")

    link(rel="stylesheet" type="text/css" href="/robust-assets/css/plugins/forms/icheck/icheck.css")
    link(rel="stylesheet" type="text/css" href="/robust-assets/css/plugins/forms/icheck/custom.css")

    link(rel="stylesheet" type="text/css" href="/robust-assets/css/bootstrap-robust.css")
    link(rel="stylesheet" type="text/css" href="/robust-assets/css/components.css")
    link(rel="stylesheet" type="text/css" href="/robust-assets/css/colors.css")

    link(rel="stylesheet" type="text/css" href="/assets/css/style.css")

    link(rel="stylesheet" type="text/css" href="/css/custom.css")
    link(rel="stylesheet" type="text/css" href="/robust-assets/css/plugins/forms/selects/selectize.css")
    link(rel="stylesheet" type="text/css" href="/robust-assets/css/plugins/forms/selects/selectize.default.css")


  body(data-open="click" data-menu="vertical-menu" data-col="1-column" class="vertical-layout vertical-menu 1-column bg-full-screen-image blank-page blank-page")


    div.robust-content.content.container-fluid
      div.content-wrapper
        div.content-header.row
        div.content-body
          section.flexbox-container
            div.col-md-4.offset-md-4.col-xs-10.offset-xs-1.box-shadow-3.p-0
              div.card.border-grey.border-lighten-3.px-1.py-1.m-0
                div.card-header.no-border
                  h4.card-subtitle.line-on-side.text-muted-dark.text-xs-center.pt-2
                    span Регистрация
                div.card-body.collapse.in
                  div.card-block
                    form#form_registry.form-horizontal.error()
                      .row
                        .col-xs-3
                          p.float-xs-right ФИО
                        .col-xs-9
                          .form-group.error
                            .controls
                              input#name.form-control(type="text" name="name" placeholder="Иванов Иван Нванович" required data-validation-required-message="AHUEL???")
                      .row
                        .col-xs-3
                          p.float-xs-right Логин
                        .col-xs-9
                          .form-group
                            .controls
                              input#login.form-control(type="text" placeholder="asd001" required name="login")
                      .row
                        .col-xs-3
                          p.float-xs-right Пароль
                        .col-xs-9
                          .controls
                            input#password.form-control(type="password" name="password" placeholder="asd001" required)
                      .row.mt-1
                        .col-xs-3
                          p.float-xs-right.text-xs-right Повторите пароль
                        .col-xs-9
                          .controls
                            input#repassword.form-control(type="password" name="password2" placeholder="asd001" required data-validation-match-match="password")
                      .row
                        .col-xs-3
                          p.float-xs-right.text-xs-right Почта
                        .col-xs-9
                          .controls
                            input#email.form-control.email-inputmask(type="text" name="email" placeholder="demo@email.site" required)
                      .row.mt-1
                        .col-xs-3
                          p.float-xs-right.text-xs-right Группа
                        .col-xs-9
                          .form-group
                            .controls
                              select#group.selectize-select(required name="group")
                                option(value="")
                                each group in groups
                                  option(value="#{group.id}")= group.title
                      .row
                        .col-xs-3
                          button#skip.btn.btn-default.btn-block Код
                        .col-xs-9
                            button#submit_btn.btn.btn-success.btn-block(type="submit") Отправить
                      .row.mt-1
                        .col-xs-9.offset-xs-3
                          p#errors.font-small-3.text-danger.hidden






    //Javascripts
    script(src="/robust-assets/js/core/libraries/jquery.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/ui/tether.min.js" type="text/javascript")
    script(src="/robust-assets/js/core/libraries/bootstrap.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/ui/perfect-scrollbar.jquery.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/ui/unison.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/ui/blockUI.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/ui/jquery.matchHeight-min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/ui/jquery-sliding-menu.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/sliders/slick/slick.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/ui/screenfull.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/validation/jqBootstrapValidation.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/icheck/icheck.min.js" type="text/javascript")
    script(src="/robust-assets/js/core/robust-menu.js" type="text/javascript")
    script(src="/robust-assets/js/core/robust.js" type="text/javascript")
    script(src="/robust-assets/js/components/ui/fullscreenSearch.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/extended/inputmask/jquery.inputmask.bundle.min.js" type="text/javascript")
    script(src="/robust-assets/js/components/forms/form-login-register.js" type="text/javascript")
    script(src="/robust-assets/js/components/forms/extended/form-inputmask.js" type="text/javascript")
    //script(src="/robust-assets/js/components/forms/select/form-selectize.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/select/selectize.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/ui/headroom.min.js" type="text/javascript")
    script(src="/robust-assets/js/core/libraries/jquery_ui/jquery-ui.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/validation/jqBootstrapValidation.js" type="text/javascript")


    script(src="/js/pages/main/register.js" type="text/javascript")
