extends ../head2

block body
    div.robust-content.content.container-fluid
        div.content-wrapper
            div.content-header.row
                div.content-header-left.col-md-6.col-xs-12
                    h3.cantent-header-title.mb-0 Посещаемость
                div.content-header-lead.col-xs-12.mt-1
            .content-body
                section
                    .row
                        .col-xs-12
                            .card
                                .card-header
                                    h4.card-title Список студентов
                                    p.card-info Помните, что отмечая присутствие другого человека Вы несете персональную ответственность.
                                .card-body.collapse.in
                                    .card-block.card-dashboard
                                        if(profile.role.id === 1)
                                            .row
                                                .col-md-8
                                                    form.form-inline.mb-2
                                                        .form-group
                                                            laber(for="group_select") Выберите группу
                                                            select#group_select.form-control.ml-1
                                                                option(value= null)= ''
                                                                for group in groups
                                                                    option(value=group.id)= group.title
                                        .row
                                            #attendance_table.col-md-12

block append footer
    script.
        var profile = profile
    script(src="/robust-assets/js/components/modal/components-modal.js" type="text/javascript")

    script(src="/robust-assets/js/plugins/forms/spinner/jquery.bootstrap-touchspin.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/validation/jqBootstrapValidation.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/icheck/icheck.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/toggle/bootstrap-switch.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/toggle/switchery.min.js" type="text/javascript")

    script(src="/robust-assets/js/components/forms/validation/form-validation.js" type="text/javascript")

    script(src="/js/pages/attendance/index.js" type="text/javascript")

