if (visitors.length === 0)
    p.text-muted.mt-2.text-xs-center Нет записей
else
    table.table.table-striped.table-bordered.zero-configuration
        thead
            tr
                td ФИО
                td Присутствие
        tbody
            each visitor in visitors
                tr(data-id=visitor.id)
                    td= visitor.visitor.name
                    td
                        if (visitor.visited)
                            input.form-check-input.position-static(type="checkbox" value= visitor.id checked disabled)
                        else
                            input.form-check-input.position-static.check-in(type="checkbox" value= visitor.id)
    .row
        .col-xs-12
            button.float-xs-right.btn.btn-success#check Подтвердить

script(src="/js/pages/attendance/table.js" type="text/javascript")